.starterPage {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  text-align: center;
}

.gameplaybuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#wholeBoard {
  margin-left: auto;
  margin-right: auto;
  width: 375px;
  height: 375px;
  display: grid;
  color: rgb(0, 0, 0);
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 5px;
}

.innerBoard {
  width: 120px;
  height: 120px;
  border: 1px solid #000000;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.innertext {
  display: none;
/* rest state is where none of the numbers are showing. */
}